body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.form {
    margin: 20px;
}
.form input {
    margin-right: 10px;
    padding: 5px;
}
.form button {
    padding: 5px 10px;
}
.product {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f4f4f4;
}
.product h3 {
    margin: 0 0 10px;
}
.product p {
    margin: 5px 0;
}
#load-more {
    margin: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.header {
    background-image: url('img/header.jpg');
    background-size: cover;
    height: 450px;
    width: auto;
}

.h1_h {
    font-size: 45px;
    color: rgb(63, 67, 69);
    padding-left: 5%;
}